.header {
	display: flex;
	height: 10rem;
	padding: 3rem, 0;
	align-items: center;
	justify-content: space-between;
}
.img_wrapper {
	height: 7rem;
}
.img_wrapper img {
	height: 100%;
}
.directory {
	text-decoration: none;
	color: #debf79;
	font-weight: 800;
	font-size: 1.7rem;
}

@media screen and (max-width: 630px) {
	.header {
		width: 100vw;
		margin: 0rem 3rem;
		height: 11rem;
	}
	.img_wrapper {
		height: 4rem;
	}
}