.contact {
    z-index: -1;
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.body_container {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-color: #222222;
}
.body_heading::before {
	content: 'Heading';
	display: inline;
	border-bottom: solid 0.3rem #debf79;
}
.body_content {
    position: relative;
    margin-top: 25%;
    width: 80%;
    line-height: 1.5;
}
.body_heading {
	color: #f5f5f5;
	margin-bottom: 3rem;
	font-size: 4rem;
    font-weight: 600;
}
.body_paragraph {
    color: #f5f5f5;
	font-size: 1.3rem;
}

.contact_container {
    margin-top: -10rem;
    padding-top: 10rem;
    padding-left: 5vw;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #fff;
}
.contact_header {
	color: #222222;
	margin-bottom: 2rem;
	font-size: 3rem;
    font-weight: 600;
}

.contact_form {
	position: relative;
	margin-top: 15%;
}
.input_wrapper{
    display: flex;
}

.contact_form input {
	background-color: #f5f5f5;
	font-size: 1.4rem;
	color: #858585;
	margin-bottom: 1rem;
	border: 1px solid #f5f5f5;
}
.contact_form input:focus::placeholder {
    color: transparent;
}

.contact_form textarea {
	resize: none;
	font-size: 1.4rem;
	background-color: #f5f5f5;
	color: #858585;
	border: 1px solid #f5f5f5;
	width: 100%;
	height: 10rem;
}

.contact input:required {
	border: 1px solid #800000;
}

.submit {
	color: #f5f5f5;
	background-color: #debf79;
	border: none;
	padding: 1rem 3rem 1rem 3rem;
	align-self: center;
	margin: 1rem auto;
	display: block;
}


@media screen and (max-width: 650px) {
    .contact {
        grid-template-columns: 1fr;
        width: 100vw;
        min-height: fit-content;
    }
	.body_content {
		margin: 0 auto;
		padding-bottom: 7rem;
	}
	.contact_content {
		margin-top: 10%;
	}
	.body_container,
	.contact_container {
        margin: 0 auto;
        min-width: 80%;
		padding: 0 3rem;
	}
    .input_wrapper {
        flex-direction: column;
    }
    .input_wrapper input {
        width: 130%;
    }
    .contact_form textarea{
        width: 130%
    }

}
